
  <nav>
    <ul class="usa-sidenav-list">
          <li><a href="{{ site.baseurl }}/about/" class="basics">About IAE</a></li>
          <li><a href="{{ site.baseurl }}/IAEhelps/" class="fields">Using this Site</a></li>
          <li><a href="{{ site.baseurl }}/repos/" class="repos">Repositories</a></li>
          <li><a href="{{ site.baseurl }}/human_interface_guide/" class="hig">Human Interface Guide</a></li>
          <li><a href="{{ site.baseurl }}/developer_resources/" class="developer_resources">Developer Resources</a></li>
          <li><a href="{{ site.baseurl }}/sam_web_standards/" class="sam_web_standards">SAM Web Standards</a></li>
          <li><a href="{{ site.baseurl }}/communicate/"class="communicate">IAE Systems and Contacts</a></li>
          <li><a href="{{ site.baseurl }}/IAE-next-steps/"class="communicate">What's New And Next for openIAE?</a></li>
    </ul>
  </nav>
